// Header panel ========================================================================================================
@header-panel__background-color: @pweb-color-primary;
@header-panel__padding-topBottom__min: 7px;
@header-panel__padding-topBottom__max: 14px;

@login-btn__font-size__min: 15px;
@login-btn__font-size__max: 30px;
@login-btn__padding-topBottom__min: 5px;
@login-btn__padding-topBottom__max: 10px;
@login-btn__padding-leftRight__min: 10px;
@login-btn__padding-leftRight__max: 20px;

& when (@media-common = true) {
    .header.panel {
        display: flex;
        align-items: center;

        .page-header & {
            padding-top: @header-panel__padding-topBottom__min;
            padding-bottom: @header-panel__padding-topBottom__min;
        }

        .header.links {
            .authorization-link {
                margin: 0;

                a {
                    display: inline-block;
                    padding: @login-btn__padding-topBottom__min @login-btn__padding-leftRight__min;
                    border-radius: 10px;
                    background: linear-gradient(0deg, @pweb-color-green-3, @pweb-color-green-4) 0 50%;
                    background-size: 100% 200%;
                    font-size: @login-btn__font-size__min;
                    color: @color-white;
                    font-weight: 700;

                    @keyframes loginButton {
                        0%{background-position: 0 50%}
                        50%{background-position: 0 100%}
                        100%{background-position: 0 50%}
                    }

                    &:hover {
                        text-decoration: none;
                        animation: loginButton 1s ease infinite;
                    }
                }
            }
        }
    }
}

// 1440px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .header.panel {
        .page-header & {
            .calcFluidSize(padding-top; @header-panel__padding-topBottom__min; @header-panel__padding-topBottom__max);
            .calcFluidSize(padding-bottom; @header-panel__padding-topBottom__min; @header-panel__padding-topBottom__max);
        }

        .header.links {
            .authorization-link {
                a {
                    .calcFluidSize(font-size; @login-btn__font-size__min; @login-btn__font-size__max);
                    .calcFluidSize(padding-top; @login-btn__padding-topBottom__min; @login-btn__padding-topBottom__max);
                    .calcFluidSize(padding-bottom; @login-btn__padding-topBottom__min; @login-btn__padding-topBottom__max);
                    .calcFluidSize(padding-left; @login-btn__padding-leftRight__min; @login-btn__padding-leftRight__max);
                    .calcFluidSize(padding-right; @login-btn__padding-leftRight__min; @login-btn__padding-leftRight__max);
                }
            }
        }
    }
}

// 2880px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__rt15) {
    .header.panel {
        .page-header & {
            padding-top: @header-panel__padding-topBottom__max;
            padding-bottom: @header-panel__padding-topBottom__max;
        }

        .header.links {
            .authorization-link {
                a {
                    font-size: @login-btn__font-size__max;
                    padding: @login-btn__padding-topBottom__max @login-btn__padding-leftRight__max;
                }
            }
        }
    }
}
// End header panel ====================================================================================================
