.calcFluidSize(@property; @size-min; @size-max; @window-min: @screen__xl; @window-max: @screen__rt15) {
    @s-min: unit(@size-min);
    @s-max: unit(@size-max);
    @w-min: unit(@window-min);
    @w-max: unit(@window-max);

    & when (@s-min = @s-max) {
        @{property}: @size-min;
    }

    & when (@s-min < @s-max) {
        @{property}: ~"calc( (100vw - @{window-min})/(@{w-max} - @{w-min}) * (@{s-max} - @{s-min}) + @{size-min} )";
    }
}
