//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Roboto';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

@font-family-name__secondary: 'Roboto Condensed';
@font-family__secondary: @font-family-name__secondary, @font-family__sans-serif;

@font-family__cursive: cursive;
@font-family-name__accent: 'Covered By Your Grace';
@font-family__accent: @font-family-name__accent, @font-family__cursive;

@font-family-font-awesome: 'Font Awesome 5 Free';
@font-family-font-awesome__brands: 'Font Awesome 5 Brands';

//  Colors nesting
@page__background-color: @color-white;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

@pweb-icon-search: '\f002';
@pweb-icon-fb: '\f082';
@pweb-icon-tw: '\f081';
@pweb-icon-plane: '\f1d8';

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Sidebar blocks
//  ---------------------------------------------

@block-items__counter__color: @color-gray43;
