// Header ==============================================================================================================
@header__padding-top__min: 25px;
@header__padding-top__max: 50px;
@header__padding-bottom__min: 16.5px;
@header__padding-bottom__max: 33px;

@logo__width__min: 299px;
@logo__width__max: 598px;

& when (@media-common = true) {
    .header {
        .logo {
            width: @logo__width__min;
            min-width: @logo__width__min;
            max-width: @logo__width__max;
            margin: 0;
            flex: 1 0 auto;
        }

        &.content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .page-header & {
                padding: @header__padding-top__min @layout-indent__width @header__padding-bottom__min;

                &:before, &:after {
                    display: none;
                }
            }
        }
    }
}

// 1440px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .header {
        &.content {
            .page-header & {
                .calcFluidSize(padding-top; @header__padding-top__min; @header__padding-top__max);
                .calcFluidSize(padding-bottom; @header__padding-bottom__min; @header__padding-bottom__max);
            }
        }

        .logo {
            .calcFluidSize(width; @logo__width__min; @logo__width__max);
        }
    }
}

// 2880px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__rt15) {
    .header {
        &.content {
            .page-header & {
                padding-top: @header__padding-top__max;
                padding-bottom: @header__padding-bottom__max;
            }
        }

        .logo {
            width: @logo__width__max;
        }
    }
}
// End header ==========================================================================================================
