@miniSearch-height__min: 35px;
@miniSearch-height__max: 70px;
@miniSearch-maxWidth__min: 435px;
@miniSearch-maxWidth__max: 870px;

@miniSearch-inputField__min: 355px;
@miniSearch-inputField__max: 710px;
@miniSearch-inputField__padding__min: 43px;
@miniSearch-inputField__padding__max: 86px;
@miniSearch-inputField__fontSize__min: 15px;
@miniSearch-inputField__fontSize__max: 30px;

@miniSearch-btnSubmit__width__min: 80px;
@miniSearch-btnSubmit__width__max: 160px;
@miniSearch-btnSubmit__fontSize__min: 15px;
@miniSearch-btnSubmit__fontSize__max: 30px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .block-search {
    //width: 100%;

    .minisearch {
      display: inline-flex;
      //width: 100%;
      height: @miniSearch-height__min;
      align-items: stretch;
      border-radius: 10px;
    }

    .control {
      height: inherit;
    }

    .field.search {
      position: relative;
      width: 100%;
      height: inherit;
      //flex: 1 auto;
      //max-width: @miniSearch-inputField__min;
    }

    .input-text {
      height: inherit;
      width: @miniSearch-inputField__min;
      padding: 0 0 0 @miniSearch-inputField__padding__min;
      font-size: @miniSearch-inputField__fontSize__min;
      color: @pweb-color-primary;
      font-style: italic;
      border: 2px solid @pweb-color-green-4;
      border-right: none;
      border-radius: 10px 0 0 10px;
      transition: border-color .1s ease-in-out;

      &:focus {
        box-shadow: none;
        border-color: @pweb-color-accent2;
      }
    }
  }
}

//768px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .block-search {
    max-width: @miniSearch-maxWidth__min;
    padding-left: 0;
    //flex: 1 0 auto;
    margin: 0 50px;

    .label {
      .lib-visually-hidden-reset();
      position: absolute;
      top: 50%;
      left: 0;
      width: @miniSearch-inputField__padding__min;
      transform: translateY(-50%);
      text-align: center;

      &:before {
        content: @pweb-icon-search;
        transform: scaleX(-1);
        margin: 0 0 0 10px;
        font-family: @font-family-font-awesome;
        text-align: center;
        color: @pweb-color-primary;
        font-size: @miniSearch-inputField__fontSize__min;
        line-height: 1;
        font-weight: 900;
        cursor: pointer;
      }
    }

    .action.search {
      position: relative;
      right: 0;
      height: 100%;
      width: @miniSearch-btnSubmit__width__min;
      background-color: @pweb-color-green-1;
      font-size: @miniSearch-btnSubmit__fontSize__min;
      color: @color-white;
      font-weight: 700;
      border: 2px solid @pweb-color-green-4;
      border-left: none;
      border-radius: 0 10px 10px 0;
      cursor: pointer;
      transition: background-color .1s ease-in-out, border-color .1s ease-in-out;

      &[disabled] {
        opacity: 1;
      }

      &:before {
        display: none;
      }

      &:hover {
        background-color: @pweb-color-accent2;
        border: 2px solid @pweb-color-accent2;
        border-left: none;
      }

      &:focus {
        background-color: @pweb-color-accent2;
        border: 2px solid @pweb-color-accent2;
        border-left: none;
      }

      > span {
        .lib-visually-hidden-reset()
      }
    }
  }
}

// 1440px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
  .block-search {
    width: auto;
    //.calcFluidSize(width; @miniSearch-maxWidth__min; @miniSearch-maxWidth__max);
    max-width: @miniSearch-maxWidth__max;

    .minisearch {
      .calcFluidSize(height; @miniSearch-height__min; @miniSearch-height__max);
      width: 100%;
    }

    //.field.search {
      //.calcFluidSize(width; @miniSearch-inputField__min; @miniSearch-inputField__max);
      //max-width: @miniSearch-inputField__max;
    //}

    .input-text {
      .calcFluidSize(width; @miniSearch-inputField__min; @miniSearch-inputField__max);
      .calcFluidSize(padding-left; @miniSearch-inputField__padding__min; @miniSearch-inputField__padding__max);
      .calcFluidSize(font-size; @miniSearch-inputField__fontSize__min; @miniSearch-inputField__fontSize__max);
    }

    .label {
      .calcFluidSize(width; @miniSearch-inputField__padding__min; @miniSearch-inputField__padding__max);

      &:before {
        .calcFluidSize(font-size; @miniSearch-inputField__fontSize__min; @miniSearch-inputField__fontSize__max);
      }
    }

    .action.search {
      .calcFluidSize(width; @miniSearch-btnSubmit__width__min; @miniSearch-btnSubmit__width__max);
      .calcFluidSize(font-size; @miniSearch-btnSubmit__fontSize__min; @miniSearch-btnSubmit__fontSize__max);
    }
  }
}

// 2880px and more
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__rt15) {
  .block-search {
    .minisearch {
      height: @miniSearch-height__max;
    }

    //.field.search {
    //  width: @miniSearch-inputField__max;
    //}

    .input-text {
      width: @miniSearch-inputField__max;
      padding-left: @miniSearch-inputField__padding__max;
      font-size: @miniSearch-inputField__fontSize__max;
    }

    .label {
      width: @miniSearch-inputField__padding__max;

      &:before {
        font-size: @miniSearch-inputField__fontSize__max;
      }
    }

    .action.search {
      width: @miniSearch-btnSubmit__width__max;
      font-size: @miniSearch-btnSubmit__fontSize__max;
    }
  }
}
