//
//  Common
//  _____________________________________________

& when (@media-common = true) {

  .block-search {
    .minisearch {
      display: inline-flex;
      height: 70px;
      align-items: stretch;
      border-radius: 10px;
    }

    .control {
      height: 100%;
    }

    .field.search {
      position: relative;
      height: 100%;
    }

    .input-text {
      height: 100%;
      width: 100%;
      min-width: 355px;
      max-width: 710px;
      padding: 0 0 0 86px;
      font-size: 30px;
      color: #626262;
      font-style: italic;
      border: 2px solid @pweb-color-green-4;
      border-right: none;
      border-radius: 10px 0 0 10px;
      transition: border-color .3s ease-in-out;

      &:focus {
        box-shadow: none;
        border-color: @pweb-color-accent2;
      }
    }
  }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .block-search {

  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .block-search {
    width: auto;

    .label {
      .lib-visually-hidden-reset();
      position: absolute;
      top: 50%;
      left: 0;
      width: 86px;
      transform: translateY(-50%);
      text-align: center;

      &:before {
        content: @pweb-icon-search;
        text-align: center;
        font-family: @font-family-font-awesome;
        font-weight: 900;
        transform: scaleX(-1);
        color: @pweb-color-primary;
        font-size: 30px;
        line-height: 1;
        margin: 0;
        cursor: pointer;
      }
    }

    .action.search {
      position: relative;
      right: 0;
      height: 100%;
      width: 160px;
      border: 2px solid @pweb-color-green-4;
      border-left: none;
      border-radius: 0 10px 10px 0;
      cursor: pointer;
      background-color: @pweb-color-green-1;
      font-size: 30px;
      color: @color-white;
      font-weight: 700;
      transition: background-color .3s ease-in-out, border-color .3s ease-in-out;

      &[disabled] {
        opacity: 1;
      }

      &:before {
        display: none;
      }

      &:hover {
        background-color: @pweb-color-accent2;
        border: 2px solid @pweb-color-accent2;
        border-left: none;
      }

      &:focus {
        background-color: @pweb-color-accent2;
        border: 2px solid @pweb-color-accent2;
        border-left: none;
      }

      > span {
        .lib-visually-hidden-reset()
      }
    }
  }
}
